[submodule "Android"]
	path = Android
	url = https://gitee.com/clovme/Android.git
[submodule "Development"]
	path = Development
	url = https://gitee.com/clovme/Development.git
[submodule "Commonly"]
	path = Commonly
	url = https://gitee.com/clovme/Commonly.git
[submodule "Reverse"]
	path = Reverse
	url = https://gitee.com/clovme/Reverse.git
[submodule "System"]
	path = System
	url = https://gitee.com/clovme/System.git
[submodule "Entertainment"]
	path = Entertainment
	url = https://gitee.com/clovme/Entertainment.git
