[submodule "Android"]
	path = Android
	url = https://github.com/win-tools/Software-Android.git
[submodule "Development"]
	path = Development
	url = https://github.com/win-tools/Software-Development.git
[submodule "Commonly"]
	path = Commonly
	url = https://github.com/win-tools/Software-Commonly.git
[submodule "Reverse"]
	path = Reverse
	url = https://github.com/win-tools/Software-Reverse.git
[submodule "System"]
	path = System
	url = https://github.com/win-tools/Software-System.git
[submodule "Entertainment"]
	path = Entertainment
	url = https://github.com/win-tools/Software-Entertainment.git
[submodule "Proxy"]
	path = Proxy
	url = https://github.com/win-tools/Software-Proxy.git
[submodule "Download"]
	path = Download
	url = https://github.com/win-tools/Software-Download.git
[submodule "Service"]
	path = Service
	url = https://github.com/win-tools/Software-Service.git
[submodule "data"]
	path = data
	url = https://github.com/win-tools/data.git
[submodule "Background"]
	path = Background
	url = https://github.com/win-tools/Background.git
